<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/cad.css">
<<<<<<< HEAD
    <script src="js/script.js"></script>
</head>

<body>
        <%
        var cssErro = {"nome": "", "nasc": "", "cpf": "", "tel": "",  "email" : "", "senhan": "", "csenha": ""}  
        var msgErro = {"nome": "", "nasc": "", "cpf": "", "tel": "",  "email" : "", "senhan": "", "csenha": ""}
    if(erros) { 
         
        listaErros.errors.forEach(function(itemErro){
             if (itemErro.path  == "nome"){ 
                cssErro.nome = "erro";
                msgErro.nome = itemErro.msg;
            }  
             if (itemErro.path  == "nasc"){ 
                cssErro.nasc = "erro";
                msgErro.nasc = itemErro.msg;            
             }  
             if (itemErro.path  == "cpf"){
                cssErro.cpf = "erro";
                msgErro.cpf = itemErro.msg;                
             }
             if (itemErro.path  == "tel"){
                cssErro.tel = "erro";
                msgErro.tel = itemErro.msg;                
             }
             if (itemErro.path  == "email"){ 
                cssErro.email = "erro";
                msgErro.email = itemErro.msg;
             }
             if (itemErro.path  == "senhan"){
                cssErro.senhan = "erro";
                msgErro.senhan = itemErro.msg;                
             }
             if (itemErro.path  == "csenha"){
                cssErro.csenha = "erro";
                msgErro.csenha = itemErro.msg;                
             }
         }); 
     }; %>
     
=======
</head>

<body>
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
    <header>
        <img class="icon" src="imagens/logo-login.svg">
    </header>
    <main>
        <section class="txt">
       <br><h1 class="tit">Cadastro</h1><br>
<<<<<<< HEAD

                <form class="caixa" method="post" action="/usuario">
        <p><label for="nome"><h2>Nome</h2></label></p>
                <input type="text" name="nome" id="nome" value="<%= valores.nome %>" class="<%= cssErro.nome %>">
                <span><%= msgErro.nome %></span><br><br>

                <form class="caixa" method="post" action="/usuario">
        <p><label for="nasc"><h2>Data de Nascimento</h2></label></p>
                <input type="date" name="nasc" id="nasc" value="<%= valores.nasc %>" class="<%= cssErro.nasc %>">
                <span><%= msgErro.nasc %></span><br><br>

                <form class="caixa" method="post" action="/usuario">
        <p><label for="cpf"><h2>CPF</h2></label></p>
                <input type="number" name="cpf" id="cpf" value="<%= valores.cpf %>" class="<%= cssErro.cpf %>">
                <span><%= msgErro.cpf %></span><br><br>

                <form class="caixa" method="post" action="/usuario">
        <p><label for="tel"><h2>Telefone</h2></label></p>
                <input type="number" name="tel" id="tel" value="<%= valores.tel %>" class="<%= cssErro.tel %>">
                <span><%= msgErro.tel %></span><br><br>

                <form class="caixa" method="post" action="/usuario">
        <p><label for="email"><h2>E-mail</h2></label></p>
                <input type="text" name="email" id="email" value="<%= valores.email %>" class="<%= cssErro.email %>">
                <span><%= msgErro.email %></span><br><br>

                <form class="caixa" method="post" action="/usuario">
        <p><label for="senhan"><h2>Senha</h2></label></p>
                <input type="password" name="senhan" id="senhan" value="<%= valores.senhan %>" class="<%= cssErro.senhan %>">
                <span><%= msgErro.senhan %></span><br><br>

                <form class="caixa" method="post" action="/usuario">
        <p><label for="senha"><h2>Confirmar Senha</h2></label></p>
                <input type="password" name="senha" id="senha" value="<%= valores.csenha %>" class="<%= cssErro.csenha %>">
                <span><%= msgErro.csenha %></span><br><br>
                
                <input id="btn" type="submit" value="Cadastro">
                

                <br><a href="/login" class="link">Já tem uma conta?
                    <br><h1 class="link2">Entre aqui</h1></a>
       </form></section><br>

       

       
=======
       <form>
        <p><label><h2>E-mail</h2></label></p>
                <input type="text" placeholder=""id="caixa"><br><br>
        <p><label><h2>Nome de Usuário</h2></label></p>
                <input type="text" placeholder=""id="caixa"><br><br>
        <p><label><h2>Data de Nascimento</h2></label></p>
                <input type="text" placeholder=""id="caixa"><br><br>  
        <p><label><h2>Senha</h2></label></p>
                <input type="text" placeholder=""id="caixa"><br><br>     
       </form></section>

       <button href="/home" id="botao">Cadastro</button><br>

       <br><a href="/login" class="link">Já tem uma conta?
        <br><h1 class="link2">Entre aqui</h1></a>
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa

    </main>

    <footer>
        
    </footer>
</body>

</html>